@model IEnumerable<SphileSecurity.Models.ShiftType>

@{
    ViewBag.Title = "Index";
}

<h2>Shift Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShiftTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShiftTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShiftTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShiftTypeId })
        </td>
    </tr>
}

</table>
