@model SphileSecurity.Models.SecurityPackage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SecurityPackage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PackageType.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageType.PackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackagePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackagePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SecurityPackageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
