@model SphileSecurity.Models.AssignShift

@{
    ViewBag.Title = "Details";
}

<h2>Employee Shift Details</h2>

<div>
    @*<h4>AssignShift</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
