@model SphileSecurity.Models.PackageSubscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PackageSubscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecurityPackage.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityPackage.PackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubscribed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PackageSubscriptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
